asgiref==3.5.1
Django==4.0.4
sqlparse==0.4.2
elasticsearch~=8.2.0
anyio==3.5.0
attrs==21.4.0
alembic==1.7.7
certifi==2021.10.8
chardet==4.0.0
click==8.1.0
fastapi==0.75.0
fastapi-versioning==0.10.0
future==0.18.2
h11==0.13.0
httptools==0.2.0
idna==2.10
iniconfig==1.1.1
orjson==3.5.2
packaging==21.3
pluggy==0.13.1
py==1.10.0
pydantic==1.8.2
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
python-dotenv==0.17.1
python-multipart==0.0.5
PyYAML==6.0
requests==2.25.1
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.15.0
uvloop==0.15.2
watchgod==0.8.1
websockets==10.2
psycopg2-binary==2.9.3
SQLAlchemy~=1.4.36
csv23~=0.3.3
elasticsearch~=8.2.0