{% extends 'base.html' %}
{% load static %}

{% block title%}Oops Page not found{% endblock title %}
{% block content %}

    <div class="block-space block-space--layout--divider-nl"></div>
    <div class="block-space block-space--layout--divider-nl"></div>
    <div class="block block-sale">
        <div class="block-sale__content">
            <div class="block-sale__header">
                <div class="block-sale__title">Nepostojeća stranica!</div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--divider-nl"></div>
    <div class="block-space block-space--layout--divider-nl"></div>

{% endblock content %}
