{% extends 'base.html' %}
{% load static %}

{% block title %}Blog | {{post.title}}{% endblock title %}

{% block content %}

<div class="site__body">
    <div class="block-space block-space--layout--spaceship-ledge-height"></div>
        <div class="block">
            <div class="container">
                <hr>
                <div class="document">
<!--                    <div class="block-finder__image container" style="background-image: url({{post.image.url}});"></div>-->
                    <div class="container" style="width:75%"><img src="{{post.image.url}}" alt="image" class="img-thumbnail" style="width: 100%; height: 50%"/></div>
                    <div class="document__header">
                        <h1 class="document__title">{{post.title}}</h1>
                        <div class="document__subtitle"><h5>{{post.subtitle}}</h5></div>
                    </div>
                    <div class="document__content card">
                        <div class="typography">
                            <p>{{post.content|safe|linebreaksbr}}</p>
                            <h2>Zaključak</h2>
                            <p>{{post.conclusion|safe|linebreaksbr}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="block-space block-space--layout--before-footer"></div>
</div>

{% endblock content %}
