
<label class="vehicles-list__item" id="{{ slug }}">
    <span class="vehicles-list__item-radio input-radio">
        <span class="input-radio__body">
            <input class="input-radio__input" type="checkbox">
            <span class="input-radio__circle"></span>
        </span>
    </span>
    <input class="input-radio__input" name="myBrand" type="hidden" value="{{ brand }}">
    <input class="input-radio__input" name="myModel" type="hidden" value="{{ model }}">
    <span class="vehicles-list__item-info">
        <span class="vehicles-list__item-name">{{ brand }}</span>
        <span class="vehicles-list__item-details">{{ model }}</span>
    </span>
    <button type="button" class="vehicles-list__item-remove" hx-swap="delete" hx-target="#{{ slug }}" hx-get="{% url 'clear' %}">
        <svg width="16" height="16"><path d="M2,4V2h3V1h6v1h3v2H2z M13,13c0,1.1-0.9,2-2,2H5c-1.1,0-2-0.9-2-2V5h10V13z" /></svg>
    </button>
</label>
