
<div class="modal-header">
    <h6 class="modal-title">{% if adding %}{{ article.description }}{% else %}Info{% endif %}</h6>
</div>

<div class="modal-body container text-center" >
    {% if adding %}
    <div class="modal-body">
        <h2 style="color: green;">Dodato u korpu</h2>
    </div>
    <button style="border-radius:5px;" type="button" class="btn btn-success" id="closeModalButton">Zatvori</button>
    <hr>
    {% else %}
    <div class="modal-body">
        <h2 style="color: red;">Uklonjeno iz korpe</h2>
    </div>
    <button style="border-radius:5px;" type="button" class="btn btn-primary" id="closeModalButton">Zatvori</button>
    <hr>
    {% endif %}
</div>


