{% extends 'base.html' %}

{% block title %}Porudžbina{% endblock title %}
{% block content %}

    <div class="site__body">
        <div class="block-header block-header--has-breadcrumb block-header--has-title">
            <div class="container">
                <div class="block-header__body">
                    <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb__list">
                            <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                            <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                                <a href="/" class="breadcrumb__item-link">Naslovna</a>
                            </li>
                            <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                                <span class="breadcrumb__item-link">Porudžbina</span>
                            </li>
                            <li class="breadcrumb__title-safe-area" role="presentation"></li>
                        </ol>
                    </nav>
                    <h1 class="block-header__title">Završite porudžbinu</h1>
                </div>
            </div>
        </div>
        <div class="checkout block">
            <div id="porudzbina-error"></div>
            <div class="container container--max--xl">
                <div class="row" id="porudzbina-forma">
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="card mb-lg-0">
                            <div class="card-body card-body--padding--2">
                                <h3 class="card-title">Podaci o primaocu</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="checkout-first-name">Ime</label>
                                        <input type="text" class="form-control" id="checkout-first-name" placeholder="Ime">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="checkout-last-name">Prezime</label>
                                        <input type="text" class="form-control" id="checkout-last-name" placeholder="Prezime">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="checkout-street-address">Ulica</label>
                                    <input type="text" class="form-control" id="checkout-street-address" placeholder="Ulica">
                                </div>
                                <div class="form-group">
                                    <label for="checkout-address">Broj/sprat/stan</label>
                                    <input type="text" class="form-control" id="checkout-address">
                                </div>
                                <div class="form-group">
                                    <label for="checkout-city">Mesto</label>
                                    <input type="text" class="form-control" id="checkout-city">
                                </div>
                                <div class="form-group">
                                    <label for="checkout-postcode">Poštanski broj</label>
                                    <input type="text" class="form-control" id="checkout-postcode">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="checkout-email">Email</label>
                                        <input type="email" class="form-control" id="checkout-email" placeholder="Email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="checkout-phone">Telefon</label>
                                        <input type="text" class="form-control" id="checkout-phone" placeholder="Telefon">
                                    </div>
                                </div>
                            </div>
                            <div class="card-divider"></div>
                            <div class="card-body card-body--padding--2">
                                <h3 class="card-title">Detalji</h3>

                                <div class="form-group">
                                    <label for="checkout-comment">Poruka <span class="text-muted">(Optional)</span></label>
                                    <textarea id="checkout-comment" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                        <div class="card mb-0">
                            <div class="card-body card-body--padding--2">
                                <div>
                                    <a href="" id="isprazni">
                                        Isprazni korpu
                                    </a>
                                </div>
                                <h3 class="card-title">Vaša porudžbina</h3>
                                <table class="checkout__totals">
                                    <thead class="checkout__totals-header">
                                    <tr>
                                        <th>Proizvod</th>
                                        <th>Cena</th>
                                    </tr>
                                    </thead>
                                    <tbody class="checkout__totals-products">

                                    </tbody>
                                    <tbody class="checkout__totals-subtotals">
                                    <tr>
                                        <th>Dostava</th>
                                        <td>250rsd</td>
                                    </tr>

                                    </tbody>
                                    <tfoot class="checkout__totals-footer">
                                    </tfoot>
                                </table>
                                <div class="checkout__payment-methods payment-methods">
                                    <ul class="payment-methods__list">
                                        <li class="payment-methods__item payment-methods__item--active">
                                            <label class="payment-methods__item-header">
                                                        <span class="payment-methods__item-radio input-radio">
                                                            <span class="input-radio__body">
                                                                <input class="input-radio__input" name="checkout_payment_method" type="radio" checked>
                                                                <span class="input-radio__circle"></span>
                                                            </span>
                                                        </span>
                                                <span class="payment-methods__item-title">Pouzećem</span>
                                            </label>
                                            <div class="payment-methods__item-container">
                                                <div class="payment-methods__item-details text-muted">
                                                    Platite kuriru pri dostavi paketa.
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <button type="submit" id="posalji-porudzbinu" class="btn btn-primary btn-xl btn-block">Poručite</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-space block-space--layout--before-footer"></div>
    </div>

{% endblock content %}
