
{% for product in products %}
    <a class="suggestions__item suggestions__product" href="{% url 'item:product_details' product.gbg_id %}">
        <div class="suggestions__product-image image image--type--product">
            <div class="image__body">
                <img class="image__tag" src="{{product.image}}" alt="Slika">
            </div>
        </div>
        <div class="suggestions__product-info">
            <div class="suggestions__product-name">{{ product.description|truncatechars:60 }}</div>
            {% if product.stock == '1' %}
                <div class="suggestions__product-rating">
                    <div class="suggestions__product-rating-stars">
                        <div class="rating">
                            <div class="rating__body">
                                <div class="rating__star rating__star--active"></div>
                                <div class="rating__star rating__star--active"></div>
                                <div class="rating__star rating__star--active"></div>
                                <div class="rating__star rating__star--active"></div>
                                <div class="rating__star rating__star--active"></div>
                            </div>
                        </div>
                    </div>
                    <div class="suggestions__product-rating-label">Dostupno na stanju</div>
                </div>
            {% else %}
                <div class="suggestions__product-rating-label">Potreban upit</div>
            {% endif %}
        </div>
        <div class="suggestions__product-price">{{ product.price|floatformat:"2g" }} RSD</div>
    </a>
{% endfor %}