<footer class="site__footer">
    <div class="site-footer">
        <div class="decor site-footer__decor decor--type--bottom">
            <div class="decor__body">
                <div class="decor__start"></div>
                <div class="decor__end"></div>
                <div class="decor__center"></div>
            </div>
        </div>
        <div class="site-footer__widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-4">
                        <div class="site-footer__widget footer-contacts">
                            <h5 class="footer-contacts__title">Kontakt</h5>
                            <div class="footer-contacts__text">
                                Auto Delovi Shop <br>
                                AUTO DELOVI ZA SVE TIPOVE I MARKE AUTOMOBILA
                            </div>
                            <address class="footer-contacts__contacts">
                                <dl>
                                    <dt>Telefon:</dt>
                                    <dd>+381 60-07-30</dd>
                                </dl>
                                <dl>
                                    <dt>Email:</dt>
                                    <dd>office@autodelovishop.rs</dd>
                                </dl>
                                <dl>
                                    <dt>Adresa</dt>
                                    <dd>Milutina Milankovica 1</dd>
                                </dl>
                                <dl>
                                    <dt>Radno vreme:</dt>
                                    <dd>Pon-Pet 09:00 - 17:00</dd>
                                </dl>
                            </address>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="site-footer__bottom">
            <div class="container">
                <div class="site-footer__bottom-row">
                    <div class="site-footer__copyright">
                        <!-- copyright -->
                        Autodelovishop.rs Sva prava zadrzana.
                        <!-- copyright / end -->
                    </div>
                    <div class="site-footer__payments">
                        <img src="images/payments.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
