
<footer class="site__footer">
    <div class="site-footer">
        <div class="decor site-footer__decor decor--type--bottom">
            <div class="decor__body">
                <div class="decor__start"></div>
                <div class="decor__end"></div>
                <div class="decor__center"></div>
            </div>
        </div>
        <div class="site-footer__widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-4">
                        <div class="site-footer__widget footer-contacts">
                            <h5 class="footer-contacts__title">Kontakt</h5>
                            <div class="footer-contacts__text">
                                AUTO DELOVI ZA SVE TIPOVE I MARKE AUTOMOBILA
                            </div>
                            <div class="contact" id="contact">
                                <address class="footer-contacts__contacts">
                                    <dl>
                                        <dt>Telefon:</dt>
                                        <dd>Tel: +381 60 3033 754</dd>
                                    </dl>
                                    <dl>
                                        <dt>Email:</dt>
                                        <dd>autodelovishop.rs@gmail.com</dd>
                                    </dl>
                                    <dl>
                                        <dt>Adresa</dt>
                                        <dd>Borivoja Stevanovića 17, Beograd</dd>
                                    </dl>
                                    <dl>
                                        <dt>Radno vreme:</dt>
                                        <dd>Pon-Pet 09:00 - 17:00</dd>
                                    </dl>
                                </address>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="site-footer__bottom">
            <div class="container">
                <div class="site-footer__bottom-row">
                    <div class="site-footer__copyright">
                        Autodelovishop.rs<br>Sva prava zadržana.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
