
<header class="site__mobile-header">
    <div class="mobile-header">
        <div class="container">
            <div class="mobile-header__body">
                <button class="mobile-header__menu-button" type="button">
                    <svg width="18px" height="14px"><path d="M-0,8L-0,6L18,6L18,8L-0,8ZM-0,-0L18,-0L18,2L-0,2L-0,-0ZM14,14L-0,14L-0,12L14,12L14,14Z" /></svg>
                </button>
                <a class="mobile-header__logo" href="{% url 'index' %}">
                    <!-- mobile-logo -->
                    <div style="color: #e52727;font-size: 41px;font-weight: 600;">Auto</div>
                    <div style="color: #404040;font-size: 41px;font-weight: 600;">Delovi</div>
                    <!-- mobile-logo / end -->
                </a>
                <div class="mobile-header__search mobile-search">
                    <form class="mobile-search__body" action="{% url 'search_parts' %}">
                        <input type="text" class="mobile-search__input" placeholder="Pretraga" name="search" required>
                        <button type="submit" class="mobile-search__button mobile-search__button--search">
                            <svg width="20" height="20">
                                <path d="M19.2,17.8c0,0-0.2,0.5-0.5,0.8c-0.4,0.4-0.9,0.6-0.9,0.6s-0.9,0.7-2.8-1.6c-1.1-1.4-2.2-2.8-3.1-3.9C10.9,14.5,9.5,15,8,15 c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7c0,1.5-0.5,2.9-1.3,4c1.1,0.8,2.5,2,4,3.1C20,16.8,19.2,17.8,19.2,17.8z M8,3C5.2,3,3,5.2,3,8 c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5C13,5.2,10.8,3,8,3z" />
                            </svg>
                        </button>
                        <button type="button" class="mobile-search__button mobile-search__button--close">
                            <svg width="20" height="20">
                                <path d="M16.7,16.7L16.7,16.7c-0.4,0.4-1,0.4-1.4,0L10,11.4l-5.3,5.3c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L8.6,10L3.3,4.7 c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L10,8.6l5.3-5.3c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L11.4,10l5.3,5.3 C17.1,15.7,17.1,16.3,16.7,16.7z" />
                            </svg>
                        </button>
                        <div class="mobile-search__field"></div>
                    </form>
                </div>
                <div class="mobile-header__indicators">
                    <div class="mobile-indicator mobile-indicator--search d-md-none">
                        <button type="button" class="mobile-indicator__button">
                                    <span class="mobile-indicator__icon"><svg width="20" height="20">
                                            <path d="M19.2,17.8c0,0-0.2,0.5-0.5,0.8c-0.4,0.4-0.9,0.6-0.9,0.6s-0.9,0.7-2.8-1.6c-1.1-1.4-2.2-2.8-3.1-3.9C10.9,14.5,9.5,15,8,15 c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7c0,1.5-0.5,2.9-1.3,4c1.1,0.8,2.5,2,4,3.1C20,16.8,19.2,17.8,19.2,17.8z M8,3C5.2,3,3,5.2,3,8 c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5C13,5.2,10.8,3,8,3z" />
                                    </svg></span>
                        </button>
                    </div>
                    <div class="mobile-indicator">
                        <a href="{% url 'check_out' %}" class="mobile-indicator__button">
                            <span class="mobile-indicator__icon">
                                <svg width="20" height="20">
                                    <circle cx="7" cy="17" r="2" />
                                    <circle cx="15" cy="17" r="2" />
                                    <path d="M20,4.4V5l-1.8,6.3c-0.1,0.4-0.5,0.7-1,0.7H6.7c-0.4,0-0.8-0.3-1-0.7L3.3,3.9C3.1,3.3,2.6,3,2.1,3H0.4C0.2,3,0,2.8,0,2.6 V1.4C0,1.2,0.2,1,0.4,1h2.5c1,0,1.8,0.6,2.1,1.6L5.1,3l2.3,6.8c0,0.1,0.2,0.2,0.3,0.2h8.6c0.1,0,0.3-0.1,0.3-0.2l1.3-4.4 C17.9,5.2,17.7,5,17.5,5H9.4C9.2,5,9,4.8,9,4.6V3.4C9,3.2,9.2,3,9.4,3h9.2C19.4,3,20,3.6,20,4.4z" />
                                </svg>
                                <span class="indicator__counter">0</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<header class="site__header">
    <div class="header">
        <div class="header__megamenu-area megamenu-area"></div>
        <div class="header__topbar-start-bg"></div>
        <div class="header__topbar-start">
            <div class="topbar topbar--spaceship-start">
                <div class="topbar__item-text d-none d-xxl-flex">Tel: +381 60 3033 754</div>
                <div class="topbar__item-text"><a class="topbar__link" href="#">Prati pošiljku</a></div>
            </div>
        </div>
        <div class="header__topbar-end-bg"></div>
        <div class="header__navbar">
            <div class="header__navbar-menu">
                <div class="main-menu">
                    <ul class="main-menu__list">
                        <li class="main-menu__item">
                            <a href="{% url 'index' %}" class="main-menu__link">Naslovna</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="{% url 'about' %}" class="main-menu__link">O nama</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#contact" class="main-menu__link">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header__logo">
            <a href="/" class="logo">
                <div class="logo__slogan">Auto delovi za sve tipove i marke automobila</div>
                <div class="logo__image">
                    <div style="color: #e52727;font-size: 41px;font-weight: 600;">Auto</div>
                    <div style="color: #404040;font-size: 41px;font-weight: 600;">Delovi</div>
                </div>
            </a>
        </div>
        <div class="header__search">
            <div class="search">
                <form action="{% url 'search_parts' %}" class="search__body">
                    <div class="search__shadow"></div>
                    <input required hx-get="{% url 'dynamic_search' %}" hx-target="#dynamic-search" hx-trigger="keyup delay:250ms" hx-swap="innerHtml" class="search__input" type="text" placeholder="Pretražite delove" name="search" autocomplete="off">
                    <button data-bs-toggle="tooltip" data-bs-title="Sačuvaj svoje vozilo" class="search__button search__button--start" type="button">
                        <span class="search__button-icon" ><svg  width="20" height="20"><path d="M6.6,2c2,0,4.8,0,6.8,0c1,0,2.9,0.8,3.6,2.2C17.7,5.7,17.9,7,18.4,7C20,7,20,8,20,8v1h-1v7.5c0,0.8-0.7,1.5-1.5,1.5h-1 c-0.8,0-1.5-0.7-1.5-1.5V16H5v0.5C5,17.3,4.3,18,3.5,18h-1C1.7,18,1,17.3,1,16.5V16V9H0V8c0,0,0.1-1,1.6-1C2.1,7,2.3,5.7,3,4.2 C3.7,2.8,5.6,2,6.6,2z M13.3,4H6.7c-0.8,0-1.4,0-2,0.7c-0.5,0.6-0.8,1.5-1,2C3.6,7.1,3.5,7.9,3.7,8C4.5,8.4,6.1,9,10,9 c4,0,5.4-0.6,6.3-1c0.2-0.1,0.2-0.8,0-1.2c-0.2-0.4-0.5-1.5-1-2C14.7,4,14.1,4,13.3,4z M4,10c-0.4-0.3-1.5-0.5-2,0 c-0.4,0.4-0.4,1.6,0,2c0.5,0.5,4,0.4,4,0C6,11.2,4.5,10.3,4,10z M14,12c0,0.4,3.5,0.5,4,0c0.4-0.4,0.4-1.6,0-2c-0.5-0.5-1.3-0.3-2,0 C15.5,10.2,14,11.3,14,12z" /></svg></span>
                        <span class="search__button-title">Select Vehicle</span>
                    </button>
                    <button data-bs-toggle="tooltip" data-bs-title="Pretraži" class="search__button search__button--end" type="submit">
                        <span class="search__button-icon"><svg width="20" height="20">
                            <path d="M19.2,17.8c0,0-0.2,0.5-0.5,0.8c-0.4,0.4-0.9,0.6-0.9,0.6s-0.9,0.7-2.8-1.6c-1.1-1.4-2.2-2.8-3.1-3.9C10.9,14.5,9.5,15,8,15 c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7c0,1.5-0.5,2.9-1.3,4c1.1,0.8,2.5,2,4,3.1C20,16.8,19.2,17.8,19.2,17.8z M8,3C5.2,3,3,5.2,3,8 c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5C13,5.2,10.8,3,8,3z" /></svg>
                        </span>
                    </button>
                    <div class="search__box"></div>
                    <div class="search__decor">
                        <div class="search__decor-start"></div>
                        <div class="search__decor-end"></div>
                    </div>
                    <div class="search__dropdown search__dropdown--suggestions suggestions">
                        <div class="suggestions__group">
                            <div class="suggestions__group-title">Delovi</div>
                            <div class="suggestions__group-content" id="dynamic-search">
                                <!-- insert dynamic search here -->
                            </div>
                        </div>
                        <div class="suggestions__group">
                            <div class="suggestions__group-title">Pretražite</div>
                            <div class="suggestions__group-content">
                                <a class="suggestions__item suggestions__category" href="{% url 'search_parts' %}?search=sijalica">Sijalice</a>
                                <a class="suggestions__item suggestions__category" href="{% url 'search_parts' %}?search=far">Farovi</a>
                                <a class="suggestions__item suggestions__category" href="{% url 'search_parts' %}?search=hladnjak">Hladnjaci</a>
                                <a class="suggestions__item suggestions__category" href="{% url 'search_parts' %}?search=branik">Branici</a>
                            </div>
                        </div>
                    </div>
                    <div class="search__dropdown search__dropdown--vehicle-picker vehicle-picker">
                        <div class="search__dropdown-arrow"></div>
                        <div class="vehicle-picker__panel vehicle-picker__panel--list vehicle-picker__panel--active" data-panel="list">
                            <div class="vehicle-picker__panel-body">
                                <div class="vehicle-picker__text">
                                    Izaberi vozilo i nađi odgovarajuće delove
                                </div>
                                <div class="vehicles-list">
                                    <div class="vehicles-list__body" id="carIcon">
                                        {% if my_car %}
                                        <label class="vehicles-list__item" id="myCar">
                                            <span class="vehicles-list__item-radio input-radio">
                                                <span class="input-radio__body">
                                                    <input class="input-radio__input" type="checkbox" name="checkbox" {% if model %} checked {% endif %}>
                                                    <span class="input-radio__circle"></span>
                                                </span>
                                            </span>
                                            <input class="input-radio__input" name="myBrand" type="hidden" value="{{ my_car.my_brand }}">
                                            <input class="input-radio__input" name="myModel" type="hidden" value="{{ my_car.my_model }}">
                                            <span class="vehicles-list__item-info">
                                                <span class="vehicles-list__item-name">{{ my_car.my_brand }}</span>
                                                <span class="vehicles-list__item-details">{{ my_car.my_model }}</span>
                                            </span>
                                            <button style="border-radius:5px;" type="button" class="vehicles-list__item-remove" hx-swap="delete" hx-target="#myCar" hx-get="{% url 'clear' %}">
                                                <svg width="16" height="16"><path d="M2,4V2h3V1h6v1h3v2H2z M13,13c0,1.1-0.9,2-2,2H5c-1.1,0-2-0.9-2-2V5h10V13z" /></svg>
                                            </button>
                                        </label>
                                        {% endif %}
                                        <!-- here goes car-icon-scratch.html -->
                                        <div class="vehicle-picker__actions">
                                            <button style="border-radius:5px;" type="button" class="btn btn-primary btn-sm" data-to-panel="form">Dodaj/Zameni vozilo</button>
                                        </div>
                                        <div class="vehicle-picker__actions" style="margin-left: 2px;">
                                            <button style="border-radius:5px;" type="button" class="btn btn-primary btn-sm" data-to-panel="close">Zatvori</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </form>
                        <div class="vehicle-picker__panel vehicle-picker__panel--form" data-panel="form">
                            <div class="vehicle-picker__panel-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="vehicle-form vehicle-form--layout--search">
                                        <div class="vehicle-form__item vehicle-form__item--select">
                                            <select name="make" hx-get="{% url 'get_options' %}" hx-target="#models" class="form-control">
                                              <option>Izaberi marku</option>
                                              {% for brand in brands %}
                                               <option value="{{brand}}">{{brand}}</option>
                                              {% endfor %}
                                            </select>
                                          </div>
                                          <div class="vehicle-form__item vehicle-form__item--select">
                                            <select id="models" name="model" class="form-control form-control-select2" disabled>
                                              <option value="none">Izaberi model</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="vehicle-picker__actions">
                                        <div class="search__car-selector-link"><a href="" data-to-panel="list">Nazad</a></div>
                                        <button hx-post="{% url 'add_car' %}" hx-target="#carIcon" hx-swap="afterbegin" type="button" class="btn btn-primary btn-sm" data-to-panel="close" style="border-radius:5px;">Sačuvaj vozilo</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

        <!-- Korpa -->
        <div class="header__indicators">
            <div class="indicator indicator--trigger--click">
                <a href="checkout" class="indicator__button" style="border-radius:5px;">
                            <span class="indicator__icon">
                                <svg width="32" height="32">
                                    <circle cx="10.5" cy="27.5" r="2.5" />
                                    <circle cx="23.5" cy="27.5" r="2.5" />
                                    <path d="M26.4,21H11.2C10,21,9,20.2,8.8,19.1L5.4,4.8C5.3,4.3,4.9,4,4.4,4H1C0.4,4,0,3.6,0,3s0.4-1,1-1h3.4C5.8,2,7,3,7.3,4.3
	l3.4,14.3c0.1,0.2,0.3,0.4,0.5,0.4h15.2c0.2,0,0.4-0.1,0.5-0.4l3.1-10c0.1-0.2,0-0.4-0.1-0.4C29.8,8.1,29.7,8,29.5,8H14
	c-0.6,0-1-0.4-1-1s0.4-1,1-1h15.5c0.8,0,1.5,0.4,2,1c0.5,0.6,0.6,1.5,0.4,2.2l-3.1,10C28.5,20.3,27.5,21,26.4,21z" />
                                </svg>
                                <span class="indicator__counter">0</span>
                            </span>
                    <span class="indicator__title">Korpa</span>
                    <span class="indicator__value" id="ukupno">00.00din</span>
                </a>
                <div class="indicator__content">
                    <div class="dropcart">
                        <ul class="dropcart__list">
                            <!--Lista prozivoda-->
                        </ul>
                        <div class="dropcart__totals">
                            <table>
                                <tr>
                                    <th>Ukupno</th>
                                    <td id="cena">00.00</td>
                                </tr>
                            </table>
                        </div>
                        <div class="dropcart__actions">
                            <a href="{% url 'check_out' %}" class="btn btn-primary" style="border-radius:5px;">Poručite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

