{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="site__body" style="margin-top: 1px;">
    <div class="block-finder block">
        <div class="decor block-finder__decor decor--type--bottom">
            <div class="decor__body">
                <div class="decor__start"></div>
                <div class="decor__end"></div>
                <div class="decor__center"></div>
            </div>
        </div>
        <div class="block-finder__image" style="background-image: url('https://red-parts.html.themeforest.scompiler.ru/themes/red-ltr/images/finder-1903x500.jpg');"></div>
        <div class="block-finder__body container container--max--xl">
            <div class="block-finder__title">Pronađite deo za vaš automobil</div>
            <div class="block-finder__subtitle">Pretražite 90 000+ auto delova</div>
            <form class="block-finder__form">
                <div class="block-finder__form-control block-finder__form-control--select">

                    <select name="brand" aria-label="Marka">
                        <option value="none">Izaberi marku</option>
                        {% for brand in brands %}
                            <option value="{{brand}}">{{brand}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="block-finder__form-control block-finder__form-control--select">
                    <select name="model" aria-label="Model" disabled>
                        <option value="none">Izaberi model</option>
                    </select>
                </div>
                <button style="border-radius:5px;" class="block-finder__form-control block-finder__form-control--button" type="button" id="btnSearch1">
                    Pretraga
                </button>
            </form>
        </div>
    </div>
    <div class="block-space block-space--layout--divider-nl"></div>
    <div class="block-space block-space--layout--divider-nl"></div>
</div>

{% include 'product-brands.html' %}

{% endblock content %}