
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="modal-dialog" hx-target="this">
    <div class="modal fade" id="afterModal" tabindex="-1" aria-labelledby="afterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" id="second-dialog" hx-target="this">
            <div class="modal-content">
              <div class="modal-body container text-center">
                  <h4>Upit uspešno poslat.</h4>
                  <span style='font-size:65px;'>&#9989;</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
