{% extends 'base.html' %}

{% block title %}{{brand}}{% endblock title %}

{% block content %}
  <br><br><hr>
  {% if models %}

      <div class="container text-center">
        <table class="table table-striped table-hover">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ brand|upper }}</th>
          </tr>
          {% for model in models %}
            <tr>
              <td scope="col">{{ forloop.counter }}</td>
              <td scope="col">{{ model }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>

  {% else %}

    <div class="container text-center">
      <h3>Nema dostupnih modela za brend: {{brand}}</h3>
    </div>
  {% endif %}

  <br><br>
{% endblock content %}