{% extends 'base.html' %}

{% block title %}O nama{% endblock title %}

{% block content %}

<div class="site__body">
    <div class="block-space block-space--layout--spaceship-ledge-height"></div>
        <div class="block">
            <div class="container">
                <div class="document">
                    <div class="document__header">
                        <h1 class="document__title">KADA TI ZATREBA, A NE KADA MOŽE!</h1>
                        <div class="document__subtitle">AUTO DEO NA TVOJOJ ADRESI ZA MANJE OD 24h! NAJVEĆI IZBOR, POVOLJNE CENE, BRZA ISPORUKA.</div>
                    </div>
                    <div class="document__content card">
                        <div class="typography">
                            <p>
                                Potreban ti je deo za tvoj auto? Bez zvanja telefonom, bez odlaska u prodavnicu auto delova, bez čekanja na isporuku?
                                Uz samo par klikova na našem sajtu veoma jednostavno i lako možeš poručiti karoserijski deo za svoj auto:
                                Naš asortiman obuhvata kompletan karoserijski program za sve marke i tipove vozila:
                                svetlosna oprema (farovi, maglenke, migavci, stop lampe, katadiopteri, svetla za tablicu)
                                limarija ( branici prednji i zadnji, šine branika ,spojleri, lajsne i rešetke branika, plastične maske, potkrila, zaštite motora, brave-kvake )
                                hladnjaci ( hladnjak vode, hladnjak klime i hladnjak interkulera )
                                retrovizori ( spoljni retrovizori, stakla retrovizora, poklopci retrovizora )
                                Na našoj online prodavnici www.autodelovishop.rs brzom pretragom možeš pronaći preko 20.000 auto delova po super cenama svetski poznatih proizvođača kao što su: HELLA, VALEO, MARELLI, TYC, DEPO , EUROLITES, ALKAR, MAX , TONG YANG, KLOKKERHOLM, ORAN, OLMAN, MAXICAR, EMBO, PHIRA, R2A, ISAM, EUROSTAMP, EUROBUMP, PRASCO, POLCAR kao i mnogih drugih.
                                Ukoliko vam je potrebna bilo kakva pomoć naš stručni tim Vam je na raspolaganju 24/7.
                            </p>
                            <h2>Ko smo mi?</h2>
                            <p>
                                Mi smo tim zaljubljenika u auto industriju koji se već više od 15 godina bavi prodajom auto delova.
                                Već deceniju i po ulažemo i gradimo dugoročne odnose sa kupcima.
                                Svesni smo potrebe za brzom, transparentnom i online kupovinom i tu smo da profesionalno kordiniramo celim procesom poručivanja auto delova,
                                od dodavanja proizvoda u korpu do što brže dostave na kućnu adresu.
                                Cilj nam je zadovoljstvo klijenta i efikasna saradnja.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="block-space block-space--layout--before-footer"></div>
</div>

{% endblock content %}}
