{% load mathfilters %}

{% if article %}
<div class="container">
    <button type="button" class="quickview__close" data-bs-dismiss="modal">
        <svg width="12" height="12">
            <path d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6
            c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4
            C11.2,9.8,11.2,10.4,10.8,10.8z" />
        </svg>
    </button>
    <div class="row">
        <hr>
        <div class="col">
            <img src="{{article.image}}" class="img-fluid img-thumbnail">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col quickview__product-description">
            Marka i model: {{ article.brand }} | {{article.model}}
        </div>
        <div class="col-md-6 quickview__product-description">
            Deo: {{article.description}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col quickview__product-price">
            Cena: {{article.price|floatformat:"2g" }} RSD
            {% if article.stock == '1' %}
            <div class="status-badge status-badge--style--success quickview__product-stock status-badge--has-text">
                <div class="status-badge__body">
                    <div class="status-badge__text">Na stanju</div>
                </div>
            </div>
            {% else %}
            <div class="status-badge status-badge--style--success quickview__product-stock status-badge--has-text">
                <div class="status-badge__body" style="background:red">
                    <div class="status-badge__text" style="color:white">Pošaljite upit</div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-6 quickview__product-description">
            Težina: {{article.weight|mul:0.5}} kg
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col quickview__product-description">
            Kataloški broj: {{article.gbg_id}}
        </div>
        <div class="col-md-6 quickview__product-description">
            OEM broj: {{article.genuine_code}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col quickview__product-description">
            Broj pregleda: {{ item.views }}
        </div>
    </div>
    <div class="row">
        <div class="col">
<!--            <a class="quickview__see-details" data-bs-dismiss="modal" href="">Zatvori</a>-->
            <a href="{% url 'item:product_details' article.gbg_id %}" class="quickview__see-details">Pogledaj detalje</a></button>
        </div>
    </div>
</div>
{% else %}
<p>No product</p>
{% endif %}
