{% load mathfilters %}

{% if article %}
<div class="container">
    <div class="row">
        <hr>
        <div class="col">
            <img src="{{article.image}}" class="img-fluid img-thumbnail">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h6>Marka i model: {{ article.brand }} | {{article.model}}</h6>
        </div>
        <div class="col-md-6">
            <h6>Deo: {{article.description}}</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h6>Cena: {{article.price|floatformat:"2g" }} RSD</h6>
        </div>
        <div class="col-md-6">
            <h6>Težina: {{article.weight|mul:0.5}} kg</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h6>Kataloški broj: {{article.gbg_id}}</h6>
        </div>
        <div class="col-md-6">
            <h6>OEM broj: {{article.genuine_code}}</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h6>Broj pregleda: {{ item.views }}</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col" style="margin-bottom: 10px;">
            <h6>Broj porudžbina: {{ item.orders }}</h6>
        </div>
        <div class="col-md-6">
            <button style="border-radius:5px; margin-top: 10px;" type="button" class="btn btn-primary" data-bs-dismiss="modal">Zatvori</button>
            <button style="border-radius:5px; margin-top: 10px;" type="button" class="btn btn-secondary"><a href="{% url 'item:product_details' article.gbg_id %}">Pregledaj</a></button>
        </div>
    </div>
    <hr>
</div>
{% else %}
<p>No product</p>
{% endif %}
