{% load static %}

<div class="container text-center">
  <h1 class="title">Izaberite marku automobila</h1>
  <hr/><br>
  <div class="container text-center">
      <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">

        <div class="col">
          <a href="{% url 'open_model' brand='alfa romeo' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/alfa-romeo.jpg' %}" alt="ALFA ROMEO">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='audi' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/audi.jpg' %}" alt="AUDI">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='austin' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/austin.jpg' %}" alt="AUSTIN">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='bmw' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/bmw.jpg' %}" alt="BMW">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='chevrolet' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/chavrolet.jpg' %}" alt="CHEVROLET">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='chrysler' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/chrysler.jpg' %}" alt="CHRYSLER">
          </a>
        </div>

      </div>
      <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">

        <div class="col">
          <a href="{% url 'open_model' brand='citroen' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/citroen.jpg' %}" alt="CITROEN">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='cupra' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/cupra.png' %}" alt="CUPRA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='dacia' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/dacia.jpg' %}" alt="DACIA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='daewoo' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/daewoo.jpg' %}" alt="DAEWOO">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='daihatsu' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/daihatsu.jpg' %}" alt="DAIHATSU">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='dodge' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/dodge.jpg' %}" alt="DODGE">
          </a>
        </div>

      </div>
      <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">

        <div class="col">
          <a href="{% url 'open_model' brand='ds' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/ds.jpg' %}" alt="DS">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='fiat' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/fiat.jpg' %}" alt="FIAT">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='ford' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/ford.jpg' %}" alt="FORD">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='honda' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/honda.jpg' %}" alt="HONDA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='hyundai' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/hyundai.jpg' %}" alt="HYUNDAI">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='infiniti' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/infiniti.jpg' %}" alt="INFINITI">
          </a>
        </div>

      </div>
      <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">

        <div class="col">
          <a href="{% url 'open_model' brand='isuzu' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/isuzu.jpg' %}" alt="ISUZU">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='iveco' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/iveco.jpg' %}" alt="IVECO">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='jaguar' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/jaguar.jpg' %}" alt="JAGUAR">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='jeep' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/jeep.jpg' %}" alt="JEEP">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='kia' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/kia.jpg' %}" alt="KIA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='lada' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/lada.jpg' %}" alt="LADA">
          </a>
        </div>

      </div>
      <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">

        <div class="col">
          <a href="{% url 'open_model' brand='lancia' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/lancia.jpg' %}" alt="LANCIA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='land rover' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/land-rover.jpg' %}" alt="LAND ROVER">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='lexus' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/lexus.jpg' %}" alt="LEXUS">
          </a>
        </div>
          <div class="col">
          <a href="{% url 'open_model' brand='mazda' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/mazda.jpg' %}" alt="MAZDA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='mercedes' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/mercedes.jpg' %}" alt="MERCEDES">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='mini' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/mini.jpg' %}" alt="MINI">
          </a>
        </div>

      </div>
      <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">

        <div class="col">
          <a href="{% url 'open_model' brand='mitsubishi' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/mitsubishi.jpg' %}" alt="MITSUBISHI">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='neoplan' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/neoplan.jpg' %}" alt="NEOPLAN">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='opel' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/opel.jpg' %}" alt="OPEL">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='peugeot' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/peugeot.jpg' %}" alt="PEUGEOT">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='porsche' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/porsche.jpg' %}" alt="PORSCHE">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='range' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/range.jpg' %}" alt="RANGE">
            </a>
        </div>

      </div>
      <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">

        <div class="col">
          <a href="{% url 'open_model' brand='renault' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/renault.jpg' %}" alt="RENAULT">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='rover' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/rover.jpg' %}" alt="ROVER">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='saab' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/saab.jpg' %}" alt="SAAB">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='seat' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/seat.jpg' %}" alt="SEAT">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='skoda' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/skoda.jpg' %}" alt="SKODA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='smart' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/smart.jpg' %}" alt="SMART">
          </a>
        </div>

      </div>
      <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">

        <div class="col">
          <a href="{% url 'open_model' brand='ssangyong' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/ssang.jpg' %}" alt="SSANGYONG">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='subaru' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/subaru.jpg' %}" alt="SUBARU">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='suzuki' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/suzuki.jpg' %}" alt="SUZUKI">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='tesla' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/tesla.jpg' %}" alt="TESLA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='toyota' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/toyota.jpg' %}" alt="TOYOTA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='volvo' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/volvo.jpg' %}" alt="VOLVO">
          </a>
        </div>

      </div>
      <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">

        <div class="col">
          <a href="{% url 'open_model' brand='vw' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/vw.jpg' %}" alt="VW">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' brand='zastava' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/zastava.jpg' %}" alt="ZASTAVA">
          </a>
        </div>

    </div>
  </div>
</div>
<hr><br>
