{% load static %}

<div class="container text-center">
  <h1 class="title">Izaberite marku automobila</h1>
  <hr/><br>
  <div class="container text-center">
      <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
        <div class="col">
          <a href="{% url 'open_model' model='acura' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/acura.jpg' %}" alt="ACURA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='alfaromeo' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/alfa-romeo.jpg' %}" alt="ALFA ROMEO">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='aro' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/aro.jpg' %}" alt="ARO">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='audi' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/audi.jpg' %}" alt="AUDI">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='austin' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/austin.jpg' %}" alt="AUSTIN">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='autobianchi' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/autobianchi.jpg' %}" alt="AUTOBIANCHI">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='avia' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/avia.jpg' %}" alt="AVIA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='bmw' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/bmw.jpg' %}" alt="BMW">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='cadillac' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/cadilac.jpg' %}" alt="CADILLAC">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='chevrolet' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/chavrolet.jpg' %}" alt="CHEVROLET">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='chrysler' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/chrysler.jpg' %}" alt="CHRYSLER">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='citroen' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/citroen.jpg' %}" alt="CITROEN">
          </a>
        </div>
        </div>
      <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
        <div class="col">
          <a href="{% url 'open_model' model='dacia' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/dacia.jpg' %}" alt="DACIA">
          </a>
        </div>
        <div class="col">
          <a href="{% url 'open_model' model='daewoo' %}" class="image-link">
            <img class="img-responsive img-border" src="{% static 'model-images/daewoo.jpg' %}" alt="DAEWOO">
          </a>
        </div>
      <div class="col">
        <a href="{% url 'open_model' model='daf' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/daf.jpg' %}" alt="DAF">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='daihatsu' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/daihatsu.jpg' %}" alt="DAIHATSU">
        </a>
      </div>
      <div class="col">' %}
        <a href="{% url 'open_model' model='dodge' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/dodge.jpg' %}" alt="DODGE">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='ds' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/ds.jpg' %}" alt="DS">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='fiat' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/fiat.jpg' %}" alt="FIAT">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='ford' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/ford.jpg' %}" alt="FORD">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='fso' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/fso.jpg' %}" alt="FSO">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='gaz' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/gaz.jpg' %}" alt="GAZ">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='geo' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/geo.jpg' %}" alt="GEO">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='honda' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/honda.jpg' %}" alt="HONDA">
        </a>
      </div></div>
    <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
      <div class="col">
        <a href="{% url 'open_model' model='hummer' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/hummer.jpg' %}" alt="HUMMER">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='hyundai' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/hyundai.jpg' %}" alt="HYUNDAI">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='infiniti' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/infiniti.jpg' %}" alt="INFINITI">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='isuzu' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/isuzu.jpg' %}" alt="ISUZU">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='iveco' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/iveco.jpg' %}" alt="IVECO">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='jaguar' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/jaguar.jpg' %}" alt="JAGUAR">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='jeep' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/jeep.jpg' %}" alt="JEEP">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='kia' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/kia.jpg' %}" alt="KIA">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='lada' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/lada.jpg' %}" alt="LADA">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='lancia' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/lancia.jpg' %}" alt="LANCIA">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='landrover' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/land-rover.jpg' %}" alt="LAND ROVER">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='ldv' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/ldv.jpg' %}" alt="LDV">
        </a>
      </div></div>
    <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
      <div class="col">
        <a href="{% url 'open_model' model='lexus' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/lexus.jpg" alt="LEXUS">
        </a>
            </div>
      <div class="col">
        <a href="{% url 'open_model' model='lincoln' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/lincoln.jpg' %}" alt="LINCOLN">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='man' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/man.jpg' %}" alt="MAN">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='mazda' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/mazda.jpg' %}" alt="MAZDA">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='mercedes' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/mercedes.jpg' %}" alt="MERCEDES">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='mercury' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/mercury.jpg' %}" alt="MERCURY">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='mini' %}" class="image-link">
                    <img class="img-responsive img-border" src="{% static 'model-images/mini.jpg' %}" alt="MINI">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='mitsubishi' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/mitsubishi.jpg' %}" alt="MITSUBISHI">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='moskwicz' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/moskw.jpg' %}" alt="MOSKWICZ">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='neoplan' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/neoplan.jpg' %}" alt="NEOPLAN">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='nissan' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/nissan.jpg' %}" alt="NISSAN">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='nysa' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/nysa.jpg' %}" alt="NYSA">
        </a>
      </div></div>
    <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
      <div class="col">
        <a href="{% url 'open_model' model='oldsmobile' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/oldsmobile.jpg' %}" alt="OLDSMOBILE">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='opel' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/opel.jpg' %}" alt="OPEL">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='perodua' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/perodua.jpg' %}" alt="PERODUA">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='peugeot' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/peugeot.jpg' %}" alt="PEUGEOT">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='plymouth' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/playmouth.jpg' %}" alt="PLYMOUTH">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='pontiac' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/pontiac.jpg' %}" alt="PONTIAC">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='porsche' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/porsche.jpg' %}" alt="PORSCHE">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='proton' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/proton.jpg' %}" alt="PROTON">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='ram' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/ram.jpg' %}" alt="RAM">
          </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='renault' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/renault.jpg' %}" alt="RENAULT">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='rollsroyce' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/rols.jpg' %}" alt="ROLLS ROYCE">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='rover' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/rover.jpg' %}" alt="ROVER">
        </a>
      </div></div>
    <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
      <div class="col">
        <a href="{% url 'open_model' model='saab' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/saab.jpg' %}" alt="SAAB">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='scania' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/scania.jpg' %}" alt="SCANIA">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='scion' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/scion.jpg' %}" alt="SCION">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='seat' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/seat.jpg' %}" alt="SEAT">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='skoda' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/skoda.jpg' %}" alt="SKODA">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='smart' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/smart.jpg' %}" alt="SMART">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='ssangyong' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/ssang.jpg' %}" alt="SSANGYONG">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='subaru' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/subaru.jpg' %}" alt="SUBARU">
        </a>
            </div>
      <div class="col">
        <a href="{% url 'open_model' model='suzuki' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/suzuki.jpg' %}" alt="SUZUKI">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='syrena' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/syrena.jpg' %}" alt="SYRENA">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='talbot' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/talbot.jpg' %}" alt="TALBOT">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='tarpan' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/tarpan.jpg' %}" alt="TARPAN">
        </a>
      </div></div>
    <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6">
      <div class="col">
        <a href="{% url 'open_model' model='toyota' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/toyota.jpg' %}" alt="TOYOTA">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='trabant' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/trabant.jpg' %}" alt="TRABANT">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='uaz' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/uaz.jpg' %}" alt="UAZ">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='volvo' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/volvo.jpg' %}" alt="VOLVO">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='vw' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/vw.jpg' %}" alt="VW">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='warszawa' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/warsz.jpg' %}" alt="WARSZAWA">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='wartburg' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/wartburg.jpg' %}" alt="WARTBURG">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='zastava' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/zastava.jpg' %}" alt="ZASTAVA">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='zaz' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/zaz.jpg' %}" alt="ZAZ">
        </a>
      </div>
      <div class="col">
        <a href="{% url 'open_model' model='zuk' %}" class="image-link">
          <img class="img-responsive img-border" src="{% static 'model-images/zuk.jpg' %}" alt="ZUK">
        </a>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
<hr><br>
